<div class="form-group">
    <lablel for="title">Title</lablel>
    <input required type="text" name="title" id="title" value="<%= article.title %>" class="form-control" />
</div>
<div class="form-group">
    <lablel for="description">Description</lablel>
    <textarea type="text" name="description" id="description" value="" class="form-control"><%= article.description %></textarea>
</div>
<div class="form-group">
    <lablel for="markdown">Markdown</lablel>
    <textarea required type="text" name="markdown" id="markdown" value="" class="form-control"><%= article.markdown %></textarea>
</div>

<a href="/" class="btn btn-secondary">Cancel</a>

<button type="submit" class="btn btn-primary">Save</button>

